body{
    background-color: aqua;
  }
  div{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; */
    height: 900px;
    width: auto;
  }
  h1{
      text-align: center;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-weight: 150px;
       color: blueviolet;
  }
  .navbar{
    background-color: green;
  }
  .navbar a:hover{
    background-color: blueviolet;
    font-size: 30px;
  }
  /* .navbar a:active{
    background-color: green;
  } */
  .classmate-links a{
    display: inline-flex;
    float: none;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 120px;
    list-style: none;
    clear: inherit;
    
  }
   .navbar li{
      float: right;
      list-style-type: none;
    }
   p{
    text-align: justify;
    text-justify: inter-word;
    font-size: larger;
   }
   .resume{
    padding-top: 50px;
    height: 80px;
    width: 600px;
    margin-top: 50px;text-align: center;
    font-weight: 200em;
    color: yellow;
  }
  
   .mypic{
    padding-top: 30px;
    height: 600px;
    width: 400px;
    align-items: start; 
    justify-content: space-between;
      }
    a{    
      display: block;
      padding: 20px 40px;
      background-color: #dddddd;
      text-decoration: none;
      justify-content: space-between;
    }
    .main-container{
          display: flex;
          align-items: center;
    }
    
    .story{
      height: 500px;  
      width: 450px;
      float: right;
      padding-top: 30px;
  
            }
    #icon{
      height: 30px;
      width: 40px;
    }
    .footer{
      text-align: center;
      height: 50px;
      width: auto;
    }
    
    
    
    
    