body{
    background-color: white;
  }
  div{
    
    height: 900px;
    width: auto;
    margin-right: 30px;
  }
  h1{
      text-align: center;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-weight: 150px;
       color: blueviolet;
  }
  .navbar{
    background-color:lightblue;
  }
  .navbar a:hover{
    background-color: blueviolet;
  
  }
 
  .classmate-links a{
    display: inline-flex;
    float: none;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 220px;
    list-style-type: none;
    
    
  }
   .navbar li{
      display: inline-block;
      list-style-type: none;
    }
   p{
    text-align: justify;
    text-justify: inter-word;
    font-size: larger;
   }
   .resume{
    padding-top: 50px;
    height: 80px;
    width: 600px;
    margin-top: 50px;text-align: center;
    color: yellow;
  }
  
   .mypic{
    padding-top: 30px;
    height: 600px;
    width: 400px;
    align-items: start; 
    justify-content: space-between;
      }

    a{ 
      font-size: 25px;   
      display: block;
      padding: 20px 40px;
      text-decoration: none;
      justify-content: space-between;
    }
    .main-container{
          display: flex;
          align-items: center;
    }
    
    .story{
      display: flex;
      height: 600px;  
      float: right;
      justify-content: center;
      margin-right: 30px;
      /* margin: auto; */
      
  
            }
    #icon{
      height: 30px;
      width: 40px;
    }
    .footer{
      text-align: center;
      height: 50px;
      width: auto;
      margin-bottom: 10px;
      background-color: lightblue;
    }
    .story-text{
      margin-left: 50px;
    }
    
    
    
    
    